<% for(var i = 0; i < words.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= words[i].en_word %></td>
    <td><%= words[i].pt_word %></td>

    <td>
        <a href="/update-word?id=<%= words[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= words[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>